@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Kurenaido&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  background-color: rgb(35, 13, 56);
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.header {
  font-family: "Zen Kurenaido", sans-serif;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.938);
}

.pop-drink-wrapper {
  text-align: center;
  font-family: "Poppins";
  color: #fff;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  /* outline: 1px solid red; */
  margin-top: 2rem;
  min-width: 80%;
  padding-top: 0.25rem;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid red; */
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.section-title {
  font-family: "Poppins";
  color: #fff;
  margin-top: 1.5rem;
}

.img-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.img-container img {
  height: 100px;
  width: 100px;
  transition: transform 0.2s;
}

.img-container img:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
  transform: translateY(-4px);
}

.popular-drink-name {
  font-size: 0.85rem;
}

/* The following rules are before a drink has been searched for */

.recipe-container {
  font-family: "Poppins", sans-serif;
  min-width: 80vw;
  height: 100px;
  background-color: rgb(28, 7, 48);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  margin-top: 1rem;
}

.find-drink-container input {
  background-color: rgb(196, 74, 196);
  border: none;
  padding: 0.25rem;
  border-radius: 10px;
  font-family: inherit;
  width: 175px;
  margin: 0.5rem;
  color: rgb(0, 0, 0);
}

.find-drink-container input::placeholder {
  color: rgb(250, 249, 249);
  opacity: 0.75;
  font-weight: normal;
}

.find-drink-container input:focus {
  outline: none;
}

.find-drink-container button:active {
  transform: scale(0.95);
}

.random-bev-btn {
  background-color: rgb(212, 126, 27);

  border: none;
  border-radius: 10px;
  padding: 0.35rem 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.random-bev-btn:active {
  transform: scale(0.95);
}

/* The following rules are for after a drink has been searched for */

.recipe-container-two {
  font-family: "Poppins", sans-serif;
  /* min-width: 200px; */
  max-width: 1000px;

  max-height: 650px;
  background-color: rgb(28, 7, 48);
  display: flex;
  padding-right: 1rem;

  border-radius: 20px;
  margin-top: 1rem;
}

.recipe-container-two img {
  width: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.drink-name {
  /* color: rgb(9, 236, 65); */
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-weight: bolder;
}

.drink-ingredients {
  margin-left: 1rem;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: rgb(135, 253, 99);
  /* color: white; */
  /* outline: 1px solid red; */
}

.drink-ingredients span {
  margin-right: 1rem;
}

.drink-instructions {
  margin-left: 1rem;
  margin-top: 0.25rem;
  color: white;
}

.input-and-btn {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;

  /* outline: 1px solid red; */
}

.go-btn {
  background-color: rgb(196, 74, 196);
  border: none;
  border-radius: 8px;
  padding: 0.25rem;
  color: white;
  font-weight: bold;
  font-family: inherit;
}

.random-bev-btn-two {
  background-color: rgb(212, 126, 27);
  border: none;
  border-radius: 10px;
  /* outline: 1px solid red; */
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-left: 1.25rem;
  padding: 0.5rem 0.5rem;
  margin-right: 1rem;
}

.fav-btn {
  background-color: rgb(196, 74, 196);
  border: none;
  /* outline: 1px solid red; */
  color: white;
  display: flex;
  align-items: center;
  font-family: inherit;
  padding: 0.25rem 0.25rem;
  font-weight: normal;
  border-radius: 8px;
}

.fav-btn:hover {
  cursor: pointer;
}

.far {
  color: gold;
  font-size: 1.5rem;
}

.fas {
  font-size: 1.5rem;
  color: gold;
  margin-right: 0.5rem;
}

.fav-section {
  text-align: center;
}

.favorites-container {
  display: flex;

  flex-wrap: wrap;

  /* outline: 1px solid red; */
  max-width: 80vw;
}

.fav-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.2rem;
  margin-left: 0.5rem;
}

.fav-drink-name {
  color: white;
  font-family: "Poppins";
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .pop-drink-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    max-width: 280px;

    display: flex;
    flex-wrap: wrap;
  }

  .popular-drink-name {
    margin-bottom: 1.5rem;
  }
}
